@model Vidly.ViewModels.ICustomerFormViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer</h2>

@* The using wraps the call to Html.BeginForm and generates <form>...</form> tags*@
@using (Html.BeginForm("Save", "Customers")) {
    <div>
        @Html.LabelFor(nc => nc.Customer.Name)
        @Html.TextBoxFor(nc => nc.Customer.Name, new {@class = "form-control"})
    </div>
    <div>
        @Html.LabelFor(nc => nc.Customer.BirthDate)
        @Html.TextBoxFor(nc => nc.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(nc => nc.Customer.MembershipTypeId)
        @Html.DropDownListFor(nc => nc.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsletteer, new { @class = "checkbox" }) Subscribed to Newsletter?
        </label>
    </div>
    <div>
        @Html.HiddenFor(c => c.Customer.Id)
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}
